.main .left {
  width: 400px;
  height: 100%;
  font-size: 14px !important;
}
.cards {
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.card:not(:nth-of-type(3)) {
  min-width: 300px;
  /* width: 400px !important; */
  position: relative;
  border: 0 !important;
  border-radius: 8px !important;
}
.card:nth-of-type(3) {
  min-width: 215px;
  /* background-color: var(--main); */
  position: relative;
  border: 0 !important;
  border-radius: 8px !important;
}

.left {
  /* overflow-y: scroll; */
  padding-bottom: 0px;
  /* overflow: hidden; */
}
.right {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.input {
  padding: 0.375rem 0.75rem;
  display: block;
  width: 100%;
  line-height: 1.5;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-clip: padding-box;
  border-radius: 0.5rem;
  border: 1px solid #dee2e6;
}
.input[type="date"] {
  margin-left: 0;
  width: 100%;
}
.select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  line-height: 1.5;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border-radius: 0.5rem;
  border: 1px solid #dee2e6;
}

.sticky-buttons {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-items: end;
  align-items: end;
  gap: 2px;
  background-color: var(--gray-100);
  height: 120px;
  margin-top: 5px;
  width: 100%;
}

.countlabel {
  margin-top: 10px;
  margin-right: 20px;
  padding: 0px;
}
.viewForm {
  max-height: 79vh;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #c7c7c7;
}
.form .row,
.form .calendars {
  padding-left: 10px;
  width: 100%;
}
.lbl-viewForm {
  visibility: hidden;
}

input[type="checkbox"] {
  display: none;
}
input[type="number"] {
  width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.toggle {
  cursor: pointer;
  color: #15803d;
  width: 35px;
  height: 20px;
  background: #999999;
  display: block;
  border-radius: 100px;
  position: relative;
  padding: 5px 5px;
}

.toggle:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 40px;
  transition: 0.3s;
}

input:checked + .toggle {
  background: #22c55e;
}

input:checked + .toggle:after {
  content: "\2714";
  text-align: center;
  font-size: 10px;
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle:active:after {
  width: 25px;
}

.btn-dispatch {
  background-color: var(--secondary) !important;
  font-weight: 500;
  transition: background-color 0.25s ease-in-out;
}
.btn-dispatch:hover {
  background-color: var(--tertiary) !important;
}
.btn-clear {
  border: 1px solid var(--text-color) !important;
  font-weight: 500;
}
.btn-clear:hover {
  background-color: #a7a7a7 !important;
  border-color: #a7a7a7 !important;
}

.main .right {
  width: calc(100% - 400px);
  border-left: 2px solid #c7c7c7;
  border-top: 0;
}
.main .right .empDetails,
.main .right .empmoreDetails {
  padding: 0 30px;
}
.table-cont {
  height: calc(100% - 44px);
}

.passport .passportDetail label,
.visa .visaDetail label {
  position: absolute;
  top: -0px;
  left: 0;
  font-size: 10px;
  font-weight: 500;
}
.passport .passportDetail span,
.visa .visaDetail span {
  font-weight: 500;
}
.passportDetail,
.visaDetail {
  padding: 10px 0 0 0;
}
.passport .imgContainer,
.visa .imgContainer {
  width: 120px;
  height: 130px;
}
.passport .imgContainer img,
.visa .imgContainer img {
  width: 100%;
  height: auto;
}

.status {
  bottom: 10%;
  left: 0;
  text-align: center;
}
.status span {
  font-size: 100px;
  font-weight: 700;
  opacity: 0.2;
  line-height: 50px;
  color: #53b85d;
}
.status span.invalid {
  color: var(--red-color);
}

.dispatch-hist table thead th {
  background-color: var(--tableheader);
    font-size: 12px !important;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    color: var(--text-color);
    padding: 0.75rem;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.dispatch-hist table thead tr th:first-of-type{
  border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid #ebebeb;

}
.dispatch-hist table thead  th:last-of-type{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid #ebebeb;

}

.dispatch-hist table tbody td,
.work-hist table tbody td {
  font-size: 14px;
  vertical-align: middle;
}
.dispatch-hist table tbody tr:hover,
.work-hist table tbody tr:hover {
  background-color: #e6e6e6;
}
.work-hist table thead th {
  text-align: center;
  vertical-align: middle;
}

.work-hist table thead th {
  text-transform: uppercase;
  font-size: 12px !important;
border: 1px solid var(--gray);
  word-wrap: break-word;
  background-color: var(--tableheader);
}
.work-hist table td{
  border: 1px solid var(--gray);
  background-color: #fff;
}
.work-hist table .add-work {
  cursor: pointer;
  border: 0;
  /* border-bottom: 1px solid var(--gray); */
  background-color: var(--white-100);
}
.work-hist table .add-work:hover {
  background-color: #e6e6e6;
  color: var(--text-color);
}
.work-hist table .add-work:active {
  background-color: #999999;
  color: var(--bg);
}
.btn-edit,
.btn-delete {
  border: none;
  background-color: transparent;
}
.btn-edit:hover {
  color: var(--yellow-color) !important;
}
.btn-delete:hover {
  color: var(--red-color) !important;
}
.totalThisYear {
  border-radius: 8px;
  background-color: #fff;
}
.totalThisYear .label {
  font-size: 14px;

  text-transform: uppercase;
}
.totalThisYear .count {
  font-size: 36px;
  font-weight: 700;
}
.dispatch-hist .top .title,
.work-hist .top .title {
  font-size: 20px;
  font-weight: 500;
}
.prog-cont small {
  color: var(--red-color);
}
.emptyState-pass,
.emptyState-visa {
  opacity: 0.25;
}
.empDetails span {
  font-size: 14px !important;
  font-weight: 600;
}
.empDetails h5 {
  font-size: 30px;
  font-weight: 700;
}
.btn-updateEmp {
  background-color: var(--secondary) !important;
}
.btn-updateEmp:hover {
  background-color: var(--tertiary) !important;
}
.empDetails div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.emptyState i {
  font-size: 300px;
}
.emptyState i,
.emptyState .title,
.emptyState .text {
  opacity: 0.55;
}
.main .right .empmoreDetails {
  padding-bottom: 30px;
}
.totalDays {
  font-weight: 700;
  font-size: 28px;
  width: 75px;
}

@media screen and (min-width: 0px) and (max-width: 1340px) {
  .pageTitle h1 {
    font-size: 18px;
  }
  input[type="number"],
  input[type="date"] {
    width: 100%;
  }
  .left {
    position: absolute;
    overflow: hidden;
    z-index: 100;
    transition: max-height 1s;
  }
  #left.changeSize {
    transition: max-height 1s;
    background: var(--gray-100);
    overflow: scroll;
    height: 95vh;
    padding-right: 1rem;
    z-index: 100;
  }
  .right {
    margin-top: 200px;
  }
  .sticky-buttons {
    display: none;
  }
  .sticky-buttons.appear {
    width: 100%;
    height: 120px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    position: sticky;
    justify-content: end;
    padding-bottom: 10px;
    padding-right: 5px;
  }
  .submit-btns {
    display: flex;
    justify-content: end;
    align-content: end;
    width: 100%;
  }
  .countlabel {
    margin-top: 18px;
    padding: 0px;
  }
  .count-total-days {
    display: flex;
    justify-content: end;
  }
  #daysCount {
    padding-top: 8px;
  }
  .btn-dispatch {
    width: 190px;
    margin-left: 5px;
  }
  .btn-clear {
    width: 70px;
    padding: 3px 8px;
  }

  /* Button(?) as Button ▼ */
  /* .lbl-viewForm {
    display: flex;
    justify-content: center;
    background-color: var(--text-color);
    border-radius: 50px;
    color: white;
    font-size: 20px;
    width: 30px;
    height: 30px;
    visibility: visible;
    cursor: pointer;
    z-index: 100;

    position: sticky;
    left: 45%;
    top: 85%;
  }
  .lbl-closeForm {
    display: flex;
    justify-content: center;
    background-color: var(--text-color);
    border-radius: 50px;
    color: white;
    font-size: 20px;
    width: 30px;
    height: 30px;
    visibility: hidden;
    cursor: pointer;
    z-index: 100;

    position: sticky;
    left: 45%;
    bottom: -20%;
  } */

  .chkbx-viewForm {
    display: none;
  }
  .viewForm {
    /* max-height: 40%; */
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    transition: max-height 1s;
    background-color: transparent;
    border: none;
  }
  .chkbx-viewForm:checked + .viewForm {
    max-height: 120vh;
    opacity: 1;
    visibility: visible;
  }
  /* Text as Button ▼ */
  .lbl-viewForm {
    position: sticky;
    top: 0;
    visibility: visible;
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 10px;
    color: var(--text-color);
    background: var(--gray-100);
    cursor: pointer;
    z-index: 100;
  }

  .viewForm.bgChange {
    margin-top: 3px;
    background-color: #fff;
    border: 1px solid #c7c7c7;
  }

  .modal-wh-body .input {
    width: 100%;
  }
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  /* .input[type="date"] {
    width: 5%;
  } */
  /* .calendars {
    flex-wrap: wrap;
  } */
}
@media (max-width: 842px) {
  .left {
    width: 100% !important;
    height: 30%;
  }
  .sticky-buttons .btn {
    font-size: 12px;
  }
  .calendars,
  .MYDates {
    flex-wrap: wrap;
  }
}
@media (max-width: 954px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .cards .card {
    width: 100%;
  }
  .main {
    height: 100% !important;
  }
  .emptyState i {
    font-size: 80px !important;
  }
}
@media (max-width: 1030px) {
  .empDetails {
    flex-direction: column;
  }
  .empDetails div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .emptyState i {
    font-size: 100px !important;
  }
  .cards {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 1340px) {
  .main {
    flex-direction: column;
  }
  .main .left,
  .main .right {
    width: 100%;
  }
  .main .right {
    border-left: 0;
    border-top: 2px solid #c7c7c7;
    padding: 30px 0;
  }
  .main .right .empDetails,
  .main .right .empmoreDetails {
    padding: 0;
  }
  .main .left {
    height: calc(100% - 680px);
    width: calc(100% - 300px);
  }
  .input[type="date"] {
    width: 100%;
  }
}
@media (max-width: 1490px) {
  .emptyState i {
    font-size: 200px;
  }
  .viewForm {
    max-height: 74vh;
  }
}
@media (max-width: 1587px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
