APP_ENV=development
APP_DEBUG=true

DB_KDT_HOST=localhost
DB_KDT_PORT=3306
DB_KDT_NAME=kdtphdb
DB_KDT_USER=root
DB_KDT_PASS=
DB_KDT_CHARSET=utf8mb4

DB_PCS_HOST=localhost
DB_PCS_PORT=3306
DB_PCS_NAME=pcosdb
DB_PCS_USER=root
DB_PCS_PASS=
DB_PCS_CHARSET=utf8mb4

DB_NEW_HOST=localhost
DB_NEW_PORT=3306
DB_NEW_NAME=kdtphdb_new
DB_NEW_USER=root
DB_NEW_PASS=
DB_NEW_CHARSET=utf8mb4

# optional
MAIL_FORCE_TO=
MAIL_FORCE_CC=

PASSPORT_EXPIRY_WARNING_MONTHS=9
VISA_EXPIRY_WARNING_MONTHS=6
REENTRY_PERMIT_EXPIRY_WARNING_MONTHS=6

REQUESTLIST_PRES_OVERRIDE_ENABLED=true
REQUESTLIST_PRES_OVERRIDE_IDS=

EMAIL_ENABLED=true
EMAIL_MODE=redirect

MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="PCS System"

MAIL_TEST_TO=
MAIL_TEST_CC=

GROUP_ENCRYPTION_KEY=PCSGROUPENC
GROUP_ENCRYPTION_IV=HAHTASDFSDFT6634