#ignore dbconn folder
/dbconn

#ignore email template
mail.html

#ignore manuals folder
/userManual/manuals

#ignore testing shit
/php/check_recipients.php

#ignore composer dependencies
/vendor/

#ignore environment config
.env